<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/Content/img/favicon.png">
    <title>
        Consommi Tounsi
    </title>
    <!--     Fonts and icons     -->
    <!-- Nucleo Icons -->
    <link href="/Content/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/Content/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/Content/demo.css" rel="stylesheet" />
</head>

<body class="" >
    <div class="wrapper">
        <div class="sidebar">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
            -->
            <div class="sidebar-wrapper" >
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">

                    </a>
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        Admin
                    </a>
                </div>
                <ul class="nav">

                    <div class="active ">
                        <a href="../Delivery_Man/ListLivreur">
                            <i class="tim-icons icon-single-02"></i>
                            <a style="color:white" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Delivery Man</a>
                            <ul class="dropdown-menu">
                                <li><a style="color:black" href="../Delivery_Man/LivreurDispo">List Delivery Man available</a></li>
                                <li><a style="color:black" href="../Delivery_Man/LivreurNoDispo">List Delivery Man not available</a></li>
                                <li><a style="color:black" href="../Delivery_Man/BestLivreur">Best Delivery Man</a></li>
                            </ul>
                        </a>
                    </div>
                    <div class="active ">
                        <a href="../Delivery/ListLivraison">
                            <i class="tim-icons icon-delivery-fast"></i>
                            <a style="color:white" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Delivery</a>
                            <ul class="dropdown-menu">
                                <li><a style="color:black" href="../Delivery/Frais">Calculate Fresh</a></li>
                            </ul>
                        </a>
                    </div>
                    <div class="active ">
                        <a href="../Reclamation/ListReclamation">
                            <i class="tim-icons icon-alert-circle-exc"></i>
                            <a style="color:white" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Reclamation</a>
                        </a>
                    </div>
                    <div class="active ">
                        <a href="">
                            <i class="tim-icons icon-time-alarm"></i>
                            <a style="color:white" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Publication waiting</a>
                        </a>
                    </div>
                    <div class="active ">
                        <a href="">
                            <i class="tim-icons icon-check-2"></i>
                            <a style="color:white" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Publication accepted</a>
                        </a>
                    </div>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            

                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="/Content/img/anime3.png" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             @model IEnumerable<Consommi_Tounsi.Models.Delivery>

                                    @{
                                        ViewBag.Title = "ListLivraison";
                                    }
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header">
                                <h2 class="card-title" style="margin-left:300px"> List Delivery</h2>
                            </div>

                            <div class="container" style="margin-left:600px">
                                <div>
                                    @Html.TextBox("dated/datef")

                                    <button class="tim-icons icon-zoom-split" type="submit" value="Search" id="submit" style="margin-left:5px"></button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                   
                                    <i class="tim-icons icon-trash-simple">
                                        @Html.ActionLink("DeleteAuto", "DeleteAuto")
                                    </i>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Location
                                            </th>
                                            <th>
                                                Means of transport
                                            </th>
                                            <th>
                                                Fresh
                                            </th>
                                            <th>
                                                Start date
                                            </th>
                                            <th>
                                                End date
                                            </th>
                                            <th>
                                                Id Delivery Man
                                            </th>
                                            <th>
                                                Id order
                                            </th>

                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.id_deliv)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.location)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.moyenT)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.fresh)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.date_debut)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.date_fin)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Delivery_Man.id_deliv_man)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.order.id_ord)
                                                </td>
                                                <td>
                                                    <i class="tim-icons icon-pencil">
                                                        @Html.ActionLink("Edit", "Edit", new { id_deliv=item.id_deliv })
                                                    </i>
                                                    <i class="tim-icons icon-trash-simple">
                                                        @Html.ActionLink("Delete", "Delete", new { id_deliv = item.id_deliv })
                                                    </i>
                                                    <i class="tim-icons icon-trash-simple">
                                                        @Html.ActionLink("Affect to delivery man", "affecterLivraisonALivreur", new { id_deliv = item.id_deliv, id_deliv_man = item.Delivery_Man.id_deliv_man })
                                                    </i>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">

                        <div class="copyright" style="margin-right:400px">
                            made with <i class="tim-icons icon-heart-2"></i> by
                            <a href="javascript:void(0)" target="_blank">Consommi Tounsi</a>.
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-primary active" data-color="primary"></span>
                            <span class="badge filter badge-info" data-color="blue"></span>
                            <span class="badge filter badge-success" data-color="green"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line text-center color-change">
                    <span class="color-label">LIGHT MODE</span>
                    <span class="badge light-badge mr-2"></span>
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">DARK MODE</span>
                </li>
            </ul>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/Scripts/core/jquery.min.js"></script>
    <script src="/Scripts/core/popper.min.js"></script>
    <script src="/Scripts/core/bootstrap.min.js"></script>
    <script src="/Scripts/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="/Scripts/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/Scripts/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/Scripts/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/Content/demo.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');
                $main_panel = $('.main-panel');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                $('.fixed-plugin a').click(function (event) {
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        blackDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });

                $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (white_color == true) {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);
                        white_color = false;
                    } else {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }


                });

                $('.light-badge').click(function () {
                    $('body').addClass('white-content');
                });

                $('.dark-badge').click(function () {
                    $('body').removeClass('white-content');
                });
            });
        });
    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "black-dashboard-free"
            });
    </script>
</body>

</html>