@model IEnumerable<Consommi_Tounsi.Models.comments>

@{
    ViewBag.Title = "ListCmtrByPub";
}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/Content/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/Content/img/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/bootstrap1.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/Content/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/custom.css">



    <link href="/Content/animate.css" rel="stylesheet" type="text/css">
    <link href="/Content/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>

    .attr-nav > ul > li > a {
        color: #d32c2c;
        display: block;
        padding: 28px 15px;
        position: relative;
    }

    .question-type2033 {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0px 0px 13px -3px #777;
    }

    .all-title-box {
        background: url("/Content/img/Forum.PNG") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        background-attachment: fixed;
        padding: 70px 0px;
        position: relative;
    }

        .all-title-box .breadcrumb {
            background: #fffefe;
            /* margin: 0px; */
            display: inline-block;
            /* border-radius: 0px; */
            float: right;
        }
    .q-type23 {
        margin-top: 23px;
        background-color: #29bbea;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border-color: black;
        border: dotted;
        color: #fff;
        color: #fff;
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li {
            display: inline;
        }
    
    #main > input:checked + label {
        color: #555;
        border: 1px solid #29bbea;
        /* border-top: 2px solid #FF7361; */
        /* border-bottom: 1px solid #FF7361; */
        background-color: #fdfdfd;
    }
    #main > label[for*='1']:before {
    content: '\f1cb';
}
</style>
<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">

                    </div>
                    <div class="right-phone-box">

                    </div>
                    <div class="our-link">

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                            <option>Register Here</option>
                            <option>Sign In</option>
                        </select>
                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Content/img/logoConsomi.png" width="110px" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>

                        <li class="nav-item"><a class="nav-link" href="../publication/index">FORUM</a></li>
                        <li class="nav-item"><a class="nav-link" href="gallery.html">RECLAMATION</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge">3</span>
                                <p>My Cart</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="/Content/img/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="/Content/img/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="/Content/img/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start Gallery  -->

    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">


                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="title-all text-center">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>

            
            <!-- ======content section/body=====-->
            <section class="main-content920">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="main">


                                @foreach (var item in Model)
                                {


                                    <tbody>
                                        <!--Recent Question Content Section -->
                                        <div class="question-type2033">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="left-user12923 left-user12923-repeat">
                                                        <a href="#"><img src="~/Content/img/images.png" alt="image"> </a> <center> @Html.DisplayFor(modelItem => item.Client.username)</center>

                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="right-description893">
                                                        <div id="que-hedder2983">

                                                        </div>
                                                        <div class="ques-details10018">
                                                            <p>  @Html.DisplayFor(modelItem => item.contents)</p>
                                                        </div>
                                                        <hr>
                                                        <style>
                                                            a {
                                                                color: #ffffff;
                                                                text-decoration: none;
                                                                outline: none;
                                                            }
                                                        </style>

                                                        <div class="ques-icon-info3293">
                                                            <a href="#"><i aria-hidden="true"> </i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true">   @Html.DisplayFor(modelItem => item.dateComment)</i></a> <a href="#"><i aria-hidden="true"> </i></a> <a href="#"><i aria-hidden="true"> </i></a>

                                                            <a href="#" style="color:white">
                                                                <img src="~/Content/img/Like.png" width="20px" /> @Html.ActionLink(",", "../Vote/Addlikebycmt", new { idcomment = item.idcomment })
                                                            </a><i></i><i></i>
                                                            <a href="#">
                                                                <img src="~/Content/img/dislike.png" width="20px" style="margin-top:8px" /> @Html.ActionLink(",", "../Vote/AddDislikebycmt", new { idcomment = item.idcomment })
                                                            </a> <i></i><i></i><i></i><i></i> <i></i><i></i><i></i><i></i> <i></i><i></i><i></i><i></i> <i></i><i></i><i></i><i></i><i></i><i></i> <i></i><i></i><i></i><i></i> <i></i><i></i><i></i><i></i>
                                                            <a href="#">
                                                                <img src="~/Content/img/flech.png" width="20px" style="margin-top:8px" /> @Html.ActionLink(",", "NombreLIKEcmt", new { idcomment = item.idcomment })
                                                            </a>
                                                        </div>

                                                        <i></i>

                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="ques-type302">
                                                        <a href="#">
                                                        </a>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tbody>

                                }

                                <!--  End of content-1------>

                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                        <!--end of col-md-9 -->
                        <!--strart col-md-3 (side bar)-->
                        <br />
                        <aside class="col-md-3 sidebar97239">
                            <div class="status-part3821">
                                <b>Number of comments :</b>  @ViewBag.result</i></a>
                            </div>

                            <div class="recent-post3290">
                                <h4 style="color:red">More relevant comments</h4>
                                @foreach (var p in ViewBag.result1)
                                {

                                    <div class="post-details021">
                                        <a href="#" style="color:black">Username : @p.Client.username</a>
                                        <p>@p.comments.contents</p> <small style="color: #848991">@p.comments.dateComment</small>
                                    </div>
                                    <hr>
                                }
                            </div>
                        </aside>
                    </div>
                </div>
                <br /><br /><br />
            </section>

            <!--    footer -->
            <!-- End Gallery  -->
            <!-- Start Instagram Feed  -->
            <!-- End Instagram Feed  -->
            <!-- Start Footer  -->
            <!-- End Footer  -->
            <!-- Start copyright  -->

            
            <!-- End copyright  -->

            <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


            <script src="/Scripts/jquery-3.2.1.min.js"></script>
            <script src="/Scripts/popper.min.js"></script>
            <script src="/Scripts/bootstrap.min.js"></script>
            <!-- ALL PLUGINS -->
            <script src="/Scripts/jquery.superslides.min.js"></script>
            <script src="/Scripts/bootstrap-select.js"></script>
            <script src="/Scripts/inewsticker.js"></script>
            <script src="/Scripts/bootsnav.js."></script>
            <script src="/Scripts/images-loded.min.js"></script>
            <script src="/Scripts/isotope.min.js"></script>
            <script src="/Scripts/owl.carousel.min.js"></script>
            <script src="/Scripts/baguetteBox.min.js"></script>
            <script src="/Scripts/form-validator.min.js"></script>
            <script src="/Scripts/contact-form-script.js"></script>
            <script src="/Scripts/custom.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/Scripts/jquery-3.1.1.min.js"></script>
            <script src="/Scripts/bootstrap.min.js"></script>
            <script src="/Scripts/npm.js"></script>

</body>

</html>